# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Большие файлы и архивы
*.rar
*.zip
*.tar.gz
*.7z
*.iso
*.dmg

# Резервные копии
*.bak
*.backup
*_backup

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Файлы проекта
chukotkorpus.ru.rar
php-ext-snappy/
